<div class="row d-flex justify-content-center align-items-center  bg-primary" style="min-height: 100vh;">
    <div class="col-sm-10">
        <form class="row shadow g-3 p-3 needs-validation bg-body rounded-3" novalidate method="post">
            <legend>Datos del Comercio</legend>
            <div class="col-md-4 is_juridica">
                <label for="razon_social" class="form-label">Razón Social</label>
                <input type="text" class="form-control" id="razon_social" name="razon_social" value="{{razon_social}}">
                <div class="invalid-tooltip">
                   Escribe la razón social
                </div>
            </div>

            <div class="col-md-4 is_juridica position-relative">
                <label for="ruc" class="form-label">RUC</label>
                <input type="text" class="form-control" id="ruc" name="ruc" value="{{ruc}}">
                <div class="invalid-tooltip">
                    Escriba el RUC
                </div>
            </div>
            <div class="col-md-4 is_juridica position-relative">
                <label for="fecha_creacion" class="form-label">Fecha de creación</label>
                <input type="date" class="form-control" id="fecha_creacion" name="fecha_creacion" value="{{fecha_creacion}}">
                <div class="invalid-tooltip">
                    Escriba la fecha de creación
                </div>
            </div>
            <div class="col-12 pt-5">
                <div class="d-flex justify-content-between">
                    <a class="btn btn-dark btn-lg" href="/form/registry"><i class="bi bi-arrow-left"></i> Atrás</a>
                    <button class="btn btn-primary btn-lg" type="submit">Siguiente <i class="bi bi-arrow-right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>