<div class="row d-flex justify-content-center align-items-center  bg-primary" style="min-height: 100vh;">
    <div class="col-sm-8">
        <div class="row">
            
        </div>
    </div>
</div>