<div class="row d-flex justify-content-center align-items-center  bg-primary" style="min-height: 100vh;">
    <div class="col-sm-8">
        <div class="row">
            <form class="row shadow g-3 p-3 needs-validation bg-body rounded-3" novalidate method="post"
                action="/form/datos_comercio">
                <div class="col-md-6">
                    <label for="foto_cedula_front" class="form-label">Foto frontal de tu cédula</label>
                    <div class="input-group">
                        <input type="file" class="form-control" id="foto_cedula_front"
                            aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04"><i
                                class="bi bi-eye"></i></button>
                        <button class="btn btn-outline-danger" type="button" id="inputGroupFileAddon04"><i
                                class="bi bi-trash"></i></button>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="foto_cedula_back" class="form-label">Foto del reverso de tu cédula</label>
                    <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile04"
                            aria-describedby="foto_cedula_back" aria-label="Upload">
                        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04"><i
                                class="bi bi-eye"></i></button>
                        <button class="btn btn-outline-danger" type="button" id="inputGroupFileAddon04"><i
                                class="bi bi-trash"></i></button>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="foto_cedula_selfie" class="form-label">Una selfie con tu cédula</label>
                    <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile04"
                            aria-describedby="foto_cedula_selfie" aria-label="Upload">
                        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04"><i
                                class="bi bi-eye"></i></button>
                        <button class="btn btn-outline-danger" type="button" id="inputGroupFileAddon04"><i
                                class="bi bi-trash"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>