<div class="row d-flex justify-content-center align-items-center  bg-primary" style="min-height: 100vh;">
    <div class="col-sm-10">
        <form class="row shadow g-3 p-3 needs-validation bg-body" novalidate method="post">
            <legend>Datos del titular</legend>
            <div class="col-md-6 position-relative">
                <label for="nombre_titular" class="form-label">Nombre/s *</label>
                <input type="text" class="form-control" id="nombre_titular" name="nombres" required>
                <div class="invalid-tooltip">
                    Ingrese Nombre
                </div>
            </div>
            <div class="col-md-6 position-relative">
                <label for="apellido_titular" class="form-label">Apellido/s *</label>
                <input type="text" class="form-control" id="apellido_titular" required name="apellidos">
                <div class="invalid-tooltip">
                    Ingrese Apellido
                </div>
            </div>
            <div class="col-md-4 position-relative">
                <label for="fecha_nacimiento" class="form-label">Fecha de nacimiento</label>
                <input type="date" class="form-control" id="fecha_nacimiento" required name="fecha_nacimiento">
                <div class="invalid-tooltip">
                    Ingrese fecha de nacimiento
                </div>
            </div>
            <div class="col-md-4 position-relative">
                <label for="cedula" class="form-label">Cédula</label>
                <input type="text" class="form-control" id="cedula" readonly disabled value="{{cedula}}">
            </div>
            <div class="col-md-4 position-relative">
                <label for="telefono" class="form-label">Nro de Telefono</label>
                <input type="text" class="form-control" id="celular" readonly  disabled value="{{celular}}">
            </div>
            <div class="col-md-12 position-relative">
                <label for="cedula" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" id="email" value="{{email}}">
            </div>
        <div class="col-12 pt-5">
            <div class="d-flex justify-content-between">
                <a class="btn btn-dark btn-lg" href="/"><i class="bi bi-arrow-left"></i> Atrás</a>
                <button class="btn btn-primary btn-lg" type="submit">Siguiente <i class="bi bi-arrow-right"></i> </button>
            </div>
        </div>

        </form>
        

    </div>
</div>



<script>


</script>